* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;;
  font-size: 12px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: sticky;
  
}

#navbar ul li a {
  display: none;
}

.logo-primary-mob {
  position: absolute;
  text-align: center;
  font-size: 12px;
  margin-left: -140px;
}

.logo-primary {
  display: none;
}

.logo-secondary {
  display: none;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  margin-left: 180px;
}

.logo-tertiary {
  display: none;
  position: absolute;
  font-size: 12px;
}

.video-container,
.video-container video,
.video-text {
  display: none;
}

/* Showcase */

#showcase {
  background: #000;
  color: white;
  height: 80vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 2rem;
}

.coding-font {
  font-family: 'Inconsolata', monospace;
  max-width: 150px;
  position: absolute;
  margin-top: -500px;
}

.intro {
  font-size: 12px;
  max-width: 150px;
  position: absolute;
  margin-top: -300px;
}

.location {
  border: white;
  background: white;
  width: 100px;
  height: 12px;
  font-size: 10px;
  text-align: center;
  color: #0a0a0a;
  text-decoration: none;
  position: absolute;
  margin-top: -150px;
}

.links {
  display: none;
  position: absolute;
  margin-top: -50px;
}

.main-btn1 {
  text-align: center;
  align-items: center;
  position: absolute;
  padding: 0 34px;
  background: #0a0a0a;
  border: #fff 2px solid;
  color: white;
  margin-bottom: 20px;
  width: 50px;
  height: 25px;
  font-size: 10px;
}

.main-btn2 {
  padding: 0 34px;
  display: inline-block;
  background: #0a0a0a;
  border: #fff 2px solid;
  color: white;
  margin-left: 25px;
  width: 50px;
  height: 25px;
  text-align: center;
}

.main-btn3 {
  padding: 0 34px;
  display: inline-block;
  background: #0a0a0a;
  border: #fff 2px solid;
  color: white;
  width: 50px;
  height: 25px;
  text-align: center;
}

.main-btn4 {
  padding: 0 34px;
  display: inline-block;
  background: #0a0a0a;
  border: #fff 2px solid;
  color: white;
  margin-left: 25px;
  width: 50px;
  height: 25px;
  text-align: center;
}


.main-btn5 {
  padding: 0 34px;
  display: inline-block;
  background: #0a0a0a;
  border: #fff 2px solid;
  color: white;
  margin-left: 25px;
  width: 50px;
  height: 25px;
  text-align: center;
}

/* Work */

.work-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 0 2rem;
}

.work {
  position: absolute;
  background: -webkit-linear-gradient(#BE2B84, #E03F8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  margin-top: -500px;
  font-weight: bold;
  margin-bottom: 48px;
}

.main-cont {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: 100% 100% 100% 100%;
  height: 100%;
  padding: 0 2rem;
}

.card1 {
  position: absolute;
  margin-top: -220px;
  padding: 0 2rem;
}
.card2 {
  position: absolute;
  margin-top: 100px;
  padding: 0 2rem;
}
.card3 {
  position: absolute;
  padding: 0 2rem;
  margin-top: 420px;
}
.card4 {
  position: absolute;
  padding: 0 2rem;
  margin-top: 740px;
}



.card1 h1 {
  color: white;
  font-size: 12px;
}

.card1 p {
  color: white;
  font-size: 8px;
  font-family: 'Inconsolata', monospace;
  max-width: 180px;
}

.card1 img {
  width: 180px;
  height: 250px;
  border: none;
}

.card1 img:hover {
  border: #BE2B84 2px solid;
  transition: all 0.1s ease-in-out;
}

.card2 h1 {
  color: white;
  font-size: 12px;
}

.card2 p {
  color: white;
  font-size: 8px;
  font-family: 'Inconsolata', monospace;
  max-width: 180px;
}

.card2 img {
  width: 180px;
  height: 250px;
  border: none;
}

.card2 img:hover {
  border: #BE2B84 2px solid;
  transition: all 0.1s ease-in-out;
}

.card3 h1 {
  color: white;
  font-size: 12px;
}

.card3 p {
  color: white;
  font-size: 8px;
  font-family: 'Inconsolata', monospace;
  max-width: 180px;
}

.card3 img {
  width: 180px;
  height: 250px;
  border: none;
}

.card3 img:hover {
  border: #BE2B84 2px solid;
  transition: all 0.1s ease-in-out;
}

.card4 h1 {
  color: white;
  font-size: 12px;
}

.card4 p {
  color: white;
  font-size: 8px;
  font-family: 'Inconsolata', monospace;
  max-width: 180px;
}

.card4 img {
  width: 180px;
  height: 250px;
  border: none;
}

.card4 img:hover {
  border: #BE2B84 2px solid;
  transition: all 0.1s ease-in-out;
}

/* About */

.about-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 0 10rem;
}

.about {
  position: absolute;
  background: -webkit-linear-gradient(#BE2B84, #E03F8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  margin-left: -96px;
  margin-top: 2300px;
  font-weight: bold;
  margin-bottom: 48px;
}

.main-cont2 {
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 10% 90%;
  height: 100%;
  padding: 0 10rem;
}

.namaste h1 {
  position: absolute;
  color: white;
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-size: 36px;
  margin-left: -96px;
  margin-top: 1200px;
}

.info p {
  position: absolute;
  margin-left: -165px;
  margin-top: 1250px;
  color: white;
  font-family: 'Inconsolata', monospace;
  max-width: 170px;
}

/* Contact */

.contact-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 0 10rem;
  z-index: 5;
}

.contact {
  position: absolute;
  background: -webkit-linear-gradient(#BE2B84, #E03F8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: bold;
  margin-left: -100px;
  margin-top: 4400px;
  margin-bottom: 48px;
}

.main-cont3 {
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 10% 90%;
  height: 100%;
  padding: 0 10rem;
  margin-bottom: 100px;
}

.title-email {
  position: absolute;
  color: white;
  font-size: 24px;
  margin-top: 2230px;
  margin-left: -100px;
}

.title-mobile {
  position: absolute;
  color: white;
  font-size: 24px;
  margin-top: 2310px;
  margin-left: -100px;
}

.detail p {
  position: absolute;
  color: white;
  font-family: 'Inconsolata', monospace;
  margin-top: 2340px;
  margin-left: -170px;
}

.detail a {
  position: absolute;
  font-family: 'Inconsolata', monospace;
  color: white;
  margin-top: 2280px;
  margin-left: -170px;
}

/* Footer */

.footer p {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 8px;
  margin-bottom: 200px;
  margin-top: 2250px;
  margin-left: 30px;

}

.footer-bold {
  font-weight: bolder;
  font-size: 8px;
}